@use "../../abstracts" as *;

$p-a-z: $z-base;
$p-a-z-overlay: calc($z-base + 1);
$p-a-z-content: calc($z-base + 2);

.playlist-author {
  position: relative;
  z-index: $p-a-z;
  background-color: var(--color-background-mute);
  background-position: center;
  background-size: cover;
  margin: 0 8px;

  @include mobile-landscape {
    max-width: 450px;
    margin: 0 auto;
  }

  &_overlay {
    position: absolute;
    z-index: $p-a-z-overlay;
    height: 98%;
    width:  98%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--color-overlay);
    filter: brightness(0.6) contrast(1.2);
  }

  &_img {
    position: relative;
    z-index: $p-a-z-content;
    background-color: var(--color-background-mute);
    background-position: center;
    background-size: cover;

    & , .substitute {
      border-radius: 50%;
      height: 60px;
      width: 60px;
    }
  }

  &_title {
    position: relative;
    z-index: $p-a-z-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-heading);

    .substitute {
      border-radius: 5px;
      height: 31px;
      width: 50%;
    }
  }

  &_info {
    position: relative;
    z-index: $p-a-z-content;

    p {
      color: var(--color-heading);
    }

    small {
      color: var(--color-text);
    }

    .substitute {
      border-radius: 5px;
      height: 21px;
      width: 80%;
    }
  }
}
