@use "../../abstracts" as *;

.playlist-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  img {
    mask-image: linear-gradient(var(--color-background), transparent);
    width: 100%;
    object-fit: cover;

    @include mobile-landscape {
      max-height: 400px;
    }

    @include desktop {
      max-height: 350px;
    }
  }

  &_title {
    color: var(--color-heading);

    .substitute {
      border-radius: 5px;
      height: 31px;
      width: 50%;
    }
  }

  &_info {
    &_description {
      display: flex;
      justify-content: center;

      & > * {
        max-width: 375px;

        @include mobile-landscape {
          max-width: 425px;
        }
      }
    }

    p {
      color: var(--color-heading);
    }

    small {
      color: var(--color-text);
    }

    .substitute {
      border-radius: 5px;
      height: 21px;
      width: 80%;
    }
  }
}
