@use "../../abstracts" as *;

$wrapper-width: 315px;
$wrapper-width-lg: 500px;

$cols: 3;
$cols-lg: 5;

$border: 1px;
$gap: $border;

$total-gap: ($cols - 1) * $gap;
$total-gap-lg: ($cols-lg - 1) * $gap;

$wrapper-v-c-size: calc(($wrapper-width - $total-gap) / $cols);
$wrapper-v-c-size-lg: calc(($wrapper-width-lg - $total-gap-lg) / $cols-lg);

.playlist-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  &_list {
    width: 100%;
    max-width: $wrapper-width;
    display: flex;
    flex-direction: column;

    @include mobile-landscape {
      max-width: $wrapper-width-lg;
    }

    & .playlist-video {
      border-bottom: $border solid var(--color-border);

      &:last-child {
        border-bottom: none;
      }
    }

    &_compact {
      width: 100%;
      
      border-top: $border solid var(--color-border);
      border-left: $border solid var(--color-border);
      
      display: grid;
      gap: $gap;
      grid-template-columns:repeat($cols, $wrapper-v-c-size);

      @include mobile-landscape {
        grid-template-columns: repeat($cols-lg, $wrapper-v-c-size-lg);
      }

      & .playlist-video:last-child {
        border-bottom: $border solid var(--color-border);
      }
    }
  }

  &_control {
    width: 100%;
    display: flex;
    justify-content: end;

    @include mobile-landscape {
      max-width: $wrapper-width-lg;
    }

    & .btn {
      background-color: var(--color-background);
      border: $border solid var(--color-border);
      color: var(--color-text);

      &.active {
        background-color: var(--color-background-mute);
      }

      &:hover:not(&.active) {
        background-color: var(--color-background-soft);
      }
    }
  }
}
