.substitute {
  display: flex;
  background: linear-gradient(
    to bottom right,
    var(--color-background),
    var(--color-background-soft),
  );
  background-size: 200% 200%;
  animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}
