@include theme(dark) {
  :root {
    --color-background: #{$vt-c-black};
    --color-background-soft: #{$vt-c-black-soft};
    --color-background-mute: #{$vt-c-black-mute};
  
    --color-border: #{$vt-c-divider-dark-2};
    --color-border-hover: #{$vt-c-divider-dark-1};
  
    --color-heading: #{$vt-c-text-dark-1};
    --color-text: #{$vt-c-text-dark-2};

    --color-overlay: #{$vt-c-overlay-dark};
  }
}
