:root {
  --color-background: #ffffff;
  --color-background-soft: #f8f8f8;
  --color-background-mute: #f2f2f2;
  --color-border: rgba(60, 60, 60, 0.12);
  --color-border-hover: rgba(60, 60, 60, 0.29);
  --color-heading: #2c3e50;
  --color-text: #2c3e50;
  --color-overlay: rgba(255, 255, 255, 0.596);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.playlist-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.playlist-hero img {
  -webkit-mask-image: linear-gradient(var(--color-background), transparent);
          mask-image: linear-gradient(var(--color-background), transparent);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .playlist-hero img {
    max-height: 400px;
  }
}
@media only screen and (min-width: 1440px) {
  .playlist-hero img {
    max-height: 350px;
  }
}
.playlist-hero h1 {
  color: var(--color-heading);
}
.playlist-author {
  background-color: var(--color-background-mute);
  background-position: center;
  background-size: cover;
  position: relative;
}
.playlist-author > *:not(.playlist-author_overlay) {
  z-index: 0;
}
.playlist-author_overlay {
  background-color: var(--color-overlay);
  filter: brightness(0.6) contrast(1.2);
  height: 98%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 98%;
}
.playlist-author_img > * {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.playlist-author_title {
  color: var(--color-heading);
}
.playlist-author_title .substitute {
  border-radius: 5px;
  height: 31px;
  width: 50%;
}
.playlist-author_info p {
  color: var(--color-heading);
}
.playlist-author_info small {
  color: var(--color-text);
}
.playlist-author_info .substitute {
  border-radius: 5px;
  height: 21px;
  width: 80%;
}
.playlist-items {
  border-top: 1px solid var(--color-border);
}
.playlist-items_item:not(.playlist-items_item:first-child) {
  border-top: 1px solid var(--color-border);
}
.playlist-items_item:first-child {
  margin-top: 8px;
}
.playlist-items_item-thumbnail > * {
  border-radius: 5px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 80px;
}
.playlist-items_item-title {
  color: var(--color-heading);
  overflow: hidden;
  max-height: 59px;
}
.playlist-items_item-title .substitute {
  border-radius: 5px;
  height: 26px;
  width: 80%;
}
.playlist-items_item-authorTitle {
  color: var(--color-text);
  overflow: hidden;
  max-height: 21px;
}
.playlist-items_item-authorTitle .substitute {
  border-radius: 5px;
  height: 21px;
  width: 60%;
}
.playlist-items_item-info {
  color: var(--color-text);
}
.playlist-items_item-info .substitute {
  border-radius: 5px;
  height: 21px;
  width: 80%;
}

.substitute {
  display: flex;
  background: linear-gradient(to bottom right, var(--color-background), var(--color-background-soft));
  background-size: 200% 200%;
  animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #181818;
    --color-background-soft: #222222;
    --color-background-mute: #282828;
    --color-border: rgba(84, 84, 84, 0.48);
    --color-border-hover: rgba(84, 84, 84, 0.65);
    --color-heading: #ffffff;
    --color-text: rgba(235, 235, 235, 0.64);
    --color-overlay: rgba(24, 24, 24, 0.596);
  }
}/*# sourceMappingURL=main.css.map */